html {
    font-size: 10px;
    font-family: sans-serif;
}
.btn, .btn-flat {
    border-radius: 0;
    border-width: 1px;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
    float: right;
    color: #fff;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    overflow: visible;
    text-transform: none;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background: #d2d6de;
    line-height: 1.42857143;
}
element.style {
    font-size: 20px;
}
.text-blue {
    color: #0073b7 !important;
}
.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}
.form-group {
    margin-bottom: 15px;
}
.text-center {
    text-align: center;
}
@media (max-width: 768px){
.login-box, .register-box {
    width: 90%;
    margin-top: 20px;
}
}
.login-box, .register-box {
    width: 360px;
    margin: 2% auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
div {
    display: block;
}
.login-box-body, .register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}
.has-feedback .form-control {
    padding-right: 42.5px;
}
.form-control {
    border-color: #d2d6de;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input, button, select, textarea, optgroup {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font: inherit;
    color: inherit;
}
input {
    text-rendering: auto;
    letter-spacing: normal;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
}
.col-xs-8 {
    width: 60%;
    float: right;
}
